.icon{
    display: flex;
}
.gri{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 80%;
    margin: 0 auto;
}
.icons{
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 5px;
}
.icon h2{
    font-size: 17px ;
}
#sing{
   font-weight: 700;
   color: #2C2149;
}
.apply button{
    background-color: #DA404B;
    padding: 3px 30px;
    color: white;
    border-radius: 5px;
}
.apply h4{
    background-color: #0F242F;
    margin-top: 10px;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
}
.time{
    width: 40%;
    text-align: center;
    margin: 0 auto;
   
    padding: 5px 0;
    border-radius: 15px;
}
.singe:hover{
    border: 1px solid blue;
    border-radius: 10px;
}

.time button{
    margin-right: 10px;
    background-color: #AC3655;
    padding: 3px 14px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
@media only screen and (max-width:688px) {
    .gri{
        grid-template-columns: 1fr;
    }
    .gri img{
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .apply button {
        margin-top: 12px;
        width: 100%;
    }
    .time button{
        margin-bottom: 15px;
        width: 100%;
    }
    .time{
        width: 90%;
        border: 0;
    }
}