.contact {
    background-color: #231A1E;
    padding: 70px 0;
    color: white;
}
.contact h1{
    font-size: 40px;
}

.cont{
    text-align: center;
    margin-top: 40px;
}
.cont h2{
    font-size: 30px;
    font-weight: 700;
}
.cont hr{
    width: 10%;
    margin: 0 auto;
    border-top: 5px solid grey;
    margin-top: 10px;
}
.cont h1{
    font-size: 35px;
    color: #6E4B5B;
    margin-top: 20px;
}

@media only screen and (max-width:688px) {
    .cont h1{
        font-size: 25px;
    }
}