.banner{
    background: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8am9iJTIwd29ya3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"),rgba(0,0,0,0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 400px;
    width: 100%;
    background-blend-mode: darken, luminosity;
}
.ban{
    text-align: center;
    margin-top: 40px;
}
.ban h2{
    font-size: 50px;
}
.ban h4{
    font-size: 30px;
}
.ban p{
    font-size: 20px;
    margin-top: 10px;
}
.ban{
    color: white;
}
.ban button{
    background-color: #BFB037;
    padding: 10px 30px;
    margin-top: 20px;
}

@media only screen and (max-width:688px) {
    .ban h2{
        font-size: 30px;
    }
    .ban h4{
        font-size: 20px;
    }
    .ban p{
        font-size: 18px;
    }
}