.admin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
}
.admin img {
  margin-left: 50px;
  border-radius: 30px;
}
.add h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.add hr {
  border: 2px solid grey;
  margin-bottom: 40px;
}
.add {
  font-weight: 700;
  color: black;
}

@media only screen and (max-width: 688px) {
  .admin {
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-right: 80px;
  }
  .admin img {
    margin-top: 40px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .admin {
    width: 80%;
    margin: 0 auto;
    margin-right: 80px;
  }
}
