.jobs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px 15px;
  background-color: #573262;
  color: white;
  border-radius: 15px;
}
.title h2 {
  font-weight: 700;
  font-size: 25px;
}
.title {
  text-align: justify;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title button {
  margin-top: 15px;
  width: 150px;
  font-weight: 700;
}
.jobs p {
  font-size: 16px;
}

@media only screen and (max-width: 688px) {
  .jobs {
    grid-template-columns: 1fr;
  }
  .title button {
    width: 100%;
  }
}
