@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

