.main_head {
  background: url("https://i.ibb.co/jvSVZGd/photo-1541746972996-4e0b0f43e02a.jpg")
    no-repeat;
  background-size: cover;
}

.Card_title {
  padding: 14px 20px;
  color: #fff;
  background: #23c0e9;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}

.mini_title {
  color: #23c0e9;
}
